<% content_for(:subtitle) { t("menu", scope: "decidim.kids.user") } %>
<div class="row">
  <h3 class="section flex-center"><%= t(".title") %></h3>
  <div class="columns large-6 medium-10 medium-centered">
    <div class="card">
      <div class="card__content">
        <%= decidim_form_for(@form, url: user_minor_path(minor_user)) do |form| %>
          <%= form_required_explanation %>

          <%= render partial: "form_fields", locals: { form: form } %>

          <% if @form.errors[:password].any? || @form.errors[:password_confirmation].any? %>
            <%= render partial: "password_fields", locals: { form: form } %>
          <% else %>
            <p>
              <button type="button" data-toggle="passwordChange" class="link change-password"><%= t ".change_password" %></button>
            </p>
            <div id="passwordChange" class="toggle-show" data-toggler=".is-expanded">
              <%= render partial: "password_fields", locals: { form: form } %>
            </div>
          <% end %>

          <div class="actions">
            <%= form.submit t(".edit_button"), class: "button expanded mt-s mb-none", data: { disable: true } %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
