<%= render layout: "layouts/decidim/shared/layout_center" do %>
  <% content_for(:subtitle) { t("menu", scope: "decidim.kids.user") } %>

  <div class="text-center py-10">
    <h1 class="title-decorator inline-block text-left mb-12"><%= t("title", scope: "decidim.kids.user_minors.edit") %></h1>
  </div>

  <%= decidim_form_for(@form, url: user_minor_path(minor_user)) do |form| %>
    <%= form_required_explanation %>

    <div class="form__wrapper">
      <%= render partial: "form_fields", locals: { form: form } %>
    </div>

    <div class="form__wrapper-block ">
      <%= form.submit t("edit_button", scope: "decidim.kids.user_minors.edit"), class: "button button__sm md:button__lg button__secondary", data: { disable: true } %>
    </div>
  <% end %>
<% end %>
