<% add_decidim_page_title(t("menu", scope: "decidim.kids.user")) %>
<% content_for(:subtitle) { t("menu", scope: "decidim.kids.user") } %>

<h2 class="card-title flex--sbc">
  <%= t(".title") %>
</h2>
<p class="help-text"><%= t(".description") %></p>

<table class="table-list">
  <thead>
  <tr>
    <th><%= t(".name") %></th>
    <th><%= t(".age") %></th>
    <th><%= t(".confirmed") %></th>
    <th><%= t(".verified") %></th>
    <th><%= t(".last_login") %></th>
    <th><%= t(".actions") %></th>
  </tr>
  </thead>
  <tbody>
  <% minors.each do |user| %>
    <%= render partial: "minor_tr", locals: { user: user } %>
  <% end %>
  </tbody>
</table>

<%= button_to_add_minor_account %>
<% unless can_add_minor_account? %>
  <p><%= t(".note") %></p>
<% end %>
