<% add_decidim_page_title(t("menu", scope: "decidim.kids.user")) %>
<% content_for(:subtitle) { t("menu", scope: "decidim.kids.user") } %>

<div class="card with-overflow">
  <div class="card-divider">
    <h2 class="card-title flex--sbc">
      <div>
        <%= t(".title") %>
      </div>
    </h2>
  </div>
  <div class="card-section">
    <div class="table-scroll">
      <table class="table-list">
        <thead>
        <tr>
          <th><%= t(".name") %></th>
          <th><%= t(".age") %></th>
          <th><%= t(".confirmed") %></th>
          <th><%= t(".verified") %></th>
          <th><%= t(".actions") %></th>
          <th><%= t(".last_login") %></th>
        </tr>
        </thead>
        <tbody>
        <% minors.each do |user| %>
          <%= render partial: "minor_tr", locals: { user: user } %>
        <% end %>
        </tbody>
      </table>

      <%= button_to_add_minor_account %>
      <% unless can_add_minor_account? %>
        <p><%= t(".note") %></p>
      <% end %>
    </div>
  </div>
</div>
