<% content_for(:subtitle) { t("menu", scope: "decidim.kids.user") } %>
<div class="row">
  <h3 class="flex-center"><%= t(".title") %></h3>
  <p class="flex-center mb-s"><%= t(".subtitle") %></p>
  <div class="columns large-6 medium-10 medium-centered">
    <div class="card">
      <div class="card__content">
        <%= decidim_form_for(@form, url: user_minors_path) do |form| %>
          <%= form_required_explanation %>

          <%= render partial: "form_fields", locals: { form: form } %>

          <%= render partial: "password_fields", locals: { form: form } %>

          <%= render partial: "tos_field", locals: { form: form } %>

          <div class="actions">
            <%= form.submit t(".create"), class: "button expanded mt-s mb-none", data: { disable: true } %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
