<%= render layout: "layouts/decidim/shared/layout_center" do %>
  <% content_for(:subtitle) { t("menu", scope: "decidim.kids.user") } %>

  <div class="text-center py-10">
    <p class="flex-lg text-gray-2"><%= t("title", scope: "decidim.kids.impersonations") %></p>
  </div>

  <%= decidim_form_for(@form, url: decidim_kids.user_minor_minor_impersonations_path(user_minor_id: minor_user.id), method: :post) do |form| %>
    <%= form_required_explanation %>
    <div class="form__wrapper">
      <div class="field">
        <%= form.password_field :password %>
      </div>
    </div>
    <div class="form__wrapper-block ">
      <%= form.submit t("impersonate_button", scope: "decidim.kids.impersonations"), class: "button button__sm md:button__lg button__secondary" %>
    </div>
  <% end %>
<% end %>
