<div class="fieldset">
  <div class="field">
    <h5><%= t "minors_participation", scope: "decidim.kids" %></h5>
    <%= f.check_box :enable_minors_participation %>
  </div>

  <div class="field">
    <%= f.number_field :minimum_minor_age %>
  </div>

  <div class="field">
    <%= f.number_field :minimum_adult_age %>
  </div>

  <div class="field">
    <%= f.select :minors_authorization, Decidim::Kids.valid_minor_workflows.pluck(:description, :name) %>
    <p class="help-text"><%= t ".minors_authorization_help" %></p>
  </div>

  <div class="field">
    <%= f.select :tutors_authorization, Decidim::Kids.valid_tutor_workflows.pluck(:description, :name) %>
    <p class="help-text"><%= t ".tutors_authorization_help" %></p>
  </div>
</div>
