<%= render layout: "layouts/decidim/shared/layout_center" do %>
  <% add_decidim_page_title(t("menu", scope: "decidim.kids.user")) %>
  <% content_for(:subtitle) { t("menu", scope: "decidim.kids.user") } %>

  <div class="callout secondary mt-6">
    <%= t("authorizing_html", scope: "decidim.kids.authorizations.new", minor: minor_user.minor_data.name) %>
  </div>

  <p class="flex-lg text-gray-2"><%= t("help_text", scope: "decidim.kids.authorizations.new") %></p>

  <h2 class="h2 mt-6"><%= t("decidim.verifications.authorizations.new.authorize_with", authorizer: t("#{handler.handler_name}.name", scope: "decidim.authorization_handlers")) %></h2>

  <%= authorization_form_for(handler, url: authorizations_path(redirect_url: redirect_url)) do |form| %>
    <div class="form__wrapper">
      <% if lookup_context.exists?(handler.to_partial_path, [], true) %>
        <%= render partial: handler.to_partial_path, locals: { handler: handler, form: form } %>
      <% else %>
        <%= form.all_fields %>
      <% end %>
    </div>

    <div class="form__wrapper-block ">
      <%= form.submit t("decidim.verifications.authorizations.new.authorize"), class: "button button__sm md:button__lg button__secondary" %>
    </div>
  <% end %>
<% end %>
